<div class="background">

    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>Menu</header>
      <a (click)="homePage()">
        <i class="fas fa-qrcode"></i>
        <span>Home Page</span>
      </a>
      <a (click)="signUpPage()">
        <i class="fas fa-user-plus"></i>
        <span>Sign Up</span>
      </a>
      <a (click)="loginPage()">
        <i class="fas fa-user"></i>
        <span>Login</span>
      </a>
      <a href target="_blank">
        <i class="fas fa-briefcase"></i>
        <span>Candidate</span>
      </a>
      <a href target="_blank">
         <i class="fas fa-clipboard-list"></i>
        <span>Job Offers</span>
      </a>
      <a href="${pageContext.request.contextPath}/preCompaniesPage"target="_blank">
        <i class="fas fa-building"></i>
        <span>Companies</span>
      </a>
      
    </div>



<p> Our Java</p>  
 
<h2 class="title">
     <span class="title-word title-word-1">GI</span>
     <span class="title-word title-word-2">R</span>
     <span class="title-word title-word-3">L</span>
     <span class="title-word title-word-4">Z</span>
   </h2>  <p>team <p>


<div class="container">
 <div>
   <div class="content">
     <h2>Valentina La Rocca</h2>
     <span>Back End & Front End Dev</span>
   </div>
 </div>
 <div>
   <div class="content">
     <h2>Sara Brambilla</h2>
     <span>Back End & Front End Dev</span>
   </div>
 </div>
 <div>
   <div class="content">
     <h2>Rosalia Acanfora</h2>
     <span>Scrum Master</span>
   </div>
 </div>
 <div>
   <div class="content">
     <h2>Semsi Dogan</h2>
     <span>Back End Dev</span>
   </div>
 </div>
 <div>
  <div class="content">
     <h2>Wendy Sheme</h2>
     <span>Back End Dev & Designer</span>
     </div>
   </div>
   <div>
  <div class="content">
     <h2>Mino Lo Stupidino</h2>
     <span>Mascotte</span>
     </div>
   </div>
   <div>
   <div class="content">
     <h2>Ramon Il Figon</h2>
     <span>Mascotte</span>
     </div>
   </div>
   </div>

</div>