
<div class="background">
        <input type="checkbox" id="check">
        <label for="check">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
          <header>Menu</header>
          <a (click)="javaGirlz()">
            <i class="fas fa-heart"></i>
            <span>Java Girlz</span>
          </a>
          <a (click)="signUpPage()">
            <i class="fas fa-user-plus"></i>
            <span>Sign Up</span>
          </a>
          <a (click)="loginPage()">
            <i class="fas fa-user"></i>
            <span>Login</span>
          </a>
          <a href target="_blank">
            <i class="fas fa-briefcase"></i>
            <span>Candidate</span>
          </a>
          <a href target="_blank">
             <i class="fas fa-clipboard-list"></i>
            <span>Job Offers</span>
          </a>
          <a href target="_blank">
            <i class="fas fa-building"></i>
            <span>Companies</span>
          </a>
        </div>
        
        
    
    <h4 class="wordCarousel">
    
        <div>
            
            <ul class="flip5">
                 <li class="title-word title-word-1">Welcome</li>
                <li class="title-word title-word-2">Hos geldiniz</li>
                <li class="title-word title-word-3">Bienvenido</li>
                   <li class="title-word title-word-4">Benvenuto</li>
                <li class="title-word title-word-5">Mireserdhet</li>
            </ul>
        </div>
    </h4>
    
      <p>in your Home Page!</p>
        </div>
      
    
      
    

